<div class="container py-5">

  <ng-container *ngIf="account; else noAccount">
    <div class="row justify-content-center">
      <div class="col">
        Signed in to account <span class="font-weight-bolder">{{account.accountId}}</span>
        <pre class="mt-2">{{account | json}}</pre>
      </div>

      <div class="col-auto">
        <button type="button" class="btn btn-secondary mr-3" (click)="logout()">
          Log out
        </button>

        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#loginModal">
          Switch accounts
        </button>
      </div>

      <div class="w-100"></div>

      <div class="col-md-6 my-2">
        <app-deposit-money [account]="account"></app-deposit-money>
      </div>

      <div class="col-md-6 my-2">
        <app-transfer-money [account]="account"></app-transfer-money>
      </div>
    </div>
  </ng-container>

  <ng-template #noAccount>
    <div class="row justify-content-center align-items-center">
      <div class="col-auto">
        You aren't signed in.
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
          Sign in
        </button>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#createAccountModal">
          Create account
        </button>
      </div>
    </div>
  </ng-template>


</div>

<div #createAccountModal class="modal fade" id="createAccountModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-create-account #editAccount [createCommand]="{}"></app-create-account>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="createAccount(editAccount.createCommand, createAccountModal)">
          Create account
        </button>
      </div>
    </div>
  </div>
</div>

<div #loginModal class="modal fade" id="loginModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Log in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-login #loginAccount></app-login>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="login(loginAccount.accountId, loginModal)">
          Log in
        </button>
      </div>
    </div>
  </div>
</div>
