project.id=${project.groupId}
environment=${DOCKER_ENVIRONMENT}
endpoint.messaging=${MESSAGING_ENDPOINT}
encryption_key=${ENCRYPTION_KEY}
endpoint.elastic=http://elasticsearch.elastic.flux-capacitor.admin1.node.intern:9200
