{
{{#maxHits}}
 {{#paging}}"from": {{from}},{{/paging}}
 "size": {{maxHits}},
 "sort" : {{#sorting}}["{{.}}"{{^-last}},{{/-last}}]{{/sorting}}{{^sorting}}["_score"{{#fields}}, "{{.}}"{{/fields}}]{{/sorting}},
{{/maxHits}}
 "_source": {
    "excludes": [{{#excludedFields}}"{{.}}"{{^-last}},{{/-last}}{{/excludedFields}}],
    "includes": [{{#includedFields}}"{{.}}"{{^-last}},{{/-last}}{{/includedFields}}]
 },
 "query": {
    "bool": {
      "must": [
        {{#constraintList}}{{#range}}{{#values}}{
            "range": {
                "{{key}}": { {{#gte}}"gte": "{{gte}}"{{#lte}},{{/lte}}{{/gte}} {{#lte}}"lte": "{{lte}}"{{/lte}} }
            }
        }{{^-last}},{{/-last}}{{/values}}{{/range}}{{^range}}{
            "bool" : {
                "should": [
                    {{#values}}{{#.}}{ "match": { "{{key}}": "{{#escape}}{{.}}{{/escape}}" } }{{^-last}},{{/-last}}
                    {{/.}}{{^.}}{ "bool": { "must_not": { "exists": { "field" : "{{key}}" } } } }{{^-last}},{{/-last}}{{/.}}{{/values}}
                ]
            }
        }{{/range}},
        {{/constraintList}}{
            "bool" : {
                "should": [
                    {{#term}}
                    {{#fields}}
                    { "wildcard": { "{{.}}": { "value": "*{{#escape}}{{term}}{{/escape}}*" } } }{{^-last}},{{/-last}}
                    {{/fields}}
                    {{^fields}}
                    { "query_string" : { "query" : "*{{#escapeQueryString}}{{term}}{{/escapeQueryString}}*" } }
                    {{/fields}}
                    {{/term}}
                ]
            }
        }
      ],
      "must_not": [
        {{#mustNotConstraintList}}{{#range}}{{#values}}{
            "range": {
                "{{key}}": { {{#gte}}"gte": "{{gte}}"{{#lte}},{{/lte}}{{/gte}} {{#lte}}"lte": "{{lte}}"{{/lte}} }
            }
        }{{^-last}},{{/-last}}{{/values}}{{/range}}{{^range}}{
            "bool" : {
                "should": [
                    {{#values}}{{#.}}{ "match": { "{{key}}": "{{#escape}}{{.}}{{/escape}}" } }{{^-last}},{{/-last}}
                    {{/.}}{{^.}}{ "bool": { "must_not": { "exists": { "field" : "{{key}}" } } } }{{^-last}},{{/-last}}{{/.}}{{/values}}
                ]
            }
        }{{/range}}{{^-last}},{{/-last}}
        {{/mustNotConstraintList}}
      ]
    }
  }
}
{{! Example 1: get all berths in Rotterdam that match 'maash m' in their name or unlo code
    {
         "size": 100,
         "sort" : ["_score", "name", "code"],
         "query": {
            "bool": {
              "must": [
                {
                    "bool" : {
                        "should": [
                            { "match": { "portCode": "NLRTM" } }
                        ]
                    }
                },
                {
                    "bool" : {
                        "should": [
                            { "wildcard": { "name": { "value": "*maash m*" } } },
                            { "wildcard": { "code": { "value": "*maash m*" } } }
                        ]
                    }
                }
              ]
            }
          }
    }
}}
{{! Example 2: get all berths in Rotterdam and Amsterdam
    {
         "size": 100,
         "sort" : ["_score", "name", "code"],
         "query": {
            "bool": {
              "must": [
                {
                    "bool" : {
                        "should": [
                            { "match": { "portCode": "NLRTM" } },
                            { "match": { "portCode": "NLAMS" } }
                        ]
                    }
                }
              ]
            }
          }
    }
}}
